@import "~bootstrap/scss/bootstrap";
@import "./partials/mixins";
@import "./partials/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    .pre-header {
        background-color: $dc-color;
    }
}

.jumbotron img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
}
#comiclist {
    background-color: $dark-color;
    padding: 75px 0px;
    position: relative;
    section {
        position: absolute;
        top: -4%;
        left: 10%;
        background-color: $dc-color;
        color: white;
        padding: 15px;
        text-transform: uppercase;
    }
    button {
        position: absolute;
        bottom: 0;
        background-color: $dc-color;
        color: white;
        padding: 5px;
        text-transform: uppercase;
    }
}

#footer {
    #voices {
        background-color: $dark-color;
        // background-image: url("{{ Vite::asset('resources/images/dc-logo-bg.png')}}");
        .container {
            height: 500px;
            padding: 25px 0px;
            .voicesSect {
                height: 90%;
                width: 40%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                h4 {
                    text-transform: uppercase;
                }
            }
        }
    }
}
