@import "~bootstrap/scss/bootstrap";
@import "./partials/mixins";
@import "./partials/variables";
@import "./scssXpage/header";
@import "./scssXpage/main";
@import "./scssXpage/footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    .pre-header {
        background-color: $dc-color;
    }
}

#footer {
    #voices {
        background-color: $dark-color;
        // background-image: url("{{ Vite::asset('resources/images/dc-logo-bg.png')}}");
        .container {
            height: 500px;
            padding: 25px 0px;
            .voicesSect {
                height: 90%;
                width: 40%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                h4 {
                    text-transform: uppercase;
                }
            }
        }
    }
}
