@import "~bootstrap/scss/bootstrap";
@import "./partials/mixins";
@import "./partials/variables";
@import "./scssXpage/header";
@import "./scssXpage/main";
@import "./scssXpage/footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pre-header {
    background-color: $dc-color;
}
